<h1>Listing medical_records</h1>

<table>
  <thead>
    <tr>
      <th>Serial number</th>
      <th>Patient</th>
      <th>Creator</th>
      <th>Reviewer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_records.each do |medical_record| %>
      <tr>
        <td><%= medical_record.serial_number %></td>
        <td><%= medical_record.patient %></td>
        <td><%= medical_record.creator %></td>
        <td><%= medical_record.reviewer %></td>
        <td><%= link_to 'Show', medical_record %></td>
        <td><%= link_to 'Edit', edit_medical_record_path(medical_record) %></td>
        <td><%= link_to 'Destroy', medical_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical record', new_medical_record_path %>
